<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
</head>
<body>
  <form action="/new-message" method="post">
    <input type="hidden" name="id" value="<%= currentUser.id %>">
    <input type="text" name="title" id="title" placeholder="Message Title">
    <input type="text" name="text" id="text" placeholder="Message Text">
    <button type="submit">Submit Message</button>
  </form>
</body>
</html>