<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Signup</title>
</head>
<body>

  <h1>User Signup Page</h1>

  <form action="/signup" method="post" style="display: flex; flex-direction: column; gap:0.5rem; max-width: 300px; margin-bottom: 2rem;">
    <input type="email" name="email" id="email" placeholder="Your Email" autocomplete="off">
    <input type="password" name="password" id="password" placeholder="Your Password" autocomplete="off">
    <button type="submit">Submit</button>
  </form>

  <a href="/">Go back to homepage</a>
  
</body>
</html>